<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="listener.AnnotationProcessor"/>
        <listener class-name="listener.FrameworkListener"/>
    </listeners>
    <test parallel="methods" thread-count="5" verbose="2" name="FlipkartAutomation">
        <classes>
            <class name="tests.LandingScreenTests"/>
            <class name="tests.FlightBookingTest"/>
        </classes>
    </test>
</suite>